<div id="title">
    <h1><i class="fa fa-plus" style="font-size:50px;color:rgba(0,87,160,1)"></i> PLUS OU MOINS <i class="fa fa-minus" style="font-size:50px;color:rgba(160,0,93,1)"></i></h1>
</div>
<span class="badge" id="bgR">REGLES</span>
<div id="regles">
    <h5>RÉGLES</h5>
    <p>
        Les regles sont simple, il y a un nombre aleatoire entre 0 et 1000 a trouvé chacun votre tour.
        <br>
        Une partie ce divise en 5 manche dans les quels vous aurrais que 5 coup chaqun pour trouvé le chiffre, si personne trouve une nouvelle manche ce lance avec un nouveau chifrf a trouver.

        Mais si l'un de vous trouve il remporte 1 poiint et une nouvelle manche debute alors , la aussi avec un nouveaux chiffre a trouvé ! Bonne chance
    </p>
</div>
<div id="play">
<button type="button" class="btn btn-primary btn-lg" routerLink="/game">JOUER</button>
</div>